*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    background: #F28F16;
}

h1{
  animation: fadein 1s;
  text-align: center;  
}

#gamestart {
  
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 2rem;  
  display: flex; /* none play game */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  z-index: 2;
}

#start{
  cursor: pointer;
  background: red;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  color:white;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em white;

}

#youwin{
  position: absolute !important;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
}

#youwinmsg{
  animation: fadein 1s;
  position: relative;
  color: white;
  margin-bottom: 50%;
  margin: 0 auto;
  text-align: center;
}
   
#start:hover {
transform: translate(-0.05em, -0.05em);
box-shadow: 0.15em 0.15em white;
}

#start:active {
transform: translate(0.05em, 0.05em);
box-shadow: 0.05em 0.05em;
}

@keyframes fadein{
  from{opacity: 0;}
  to {opacity:1;}
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;

  position:absolute;
  background: linear-gradient(180deg, #ff6739 0%, #f28f16 100%);
   text-align: center;
   font-size: 30px;
   color: white;
   width: 100%;   
   height: 200px;
}

.chrono{   
  display: flex;
  height: 80px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;  
  justify-items: center;
  background-color: red;
 
}
.clock{
  color:white;
  font-size:35px;
}


a{
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

.footer{  
  position: absolute;    
  top:100%;
  text-decoration: none;
  text-align:center;
  font-size: 12px;
  color: white;  
  margin-top:120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;   
  height: 30px;
}

#logo{
  max-width: 300px;
  margin: 20px;
}

#logo:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  transition: 0.5s;
}


.memory-game{
    margin-top: 200px;
    margin: auto;
    width: 1000px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    top: 100px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;  
}

.front-face {
    transform: rotateY(180deg);
  }

@media screen and (max-width: 800px){

  .chrono{
    height: 60px;
  }
  
  
 .clock{
   
   font-size: 25px;
 }

 .clock::before{
   
   font-size: 20px;

 }

 #logo{
   width: 250px;
 }
 .container{
   justify-content: center;
   padding-right: 20px;
  
 }
}